/* App.css */
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #2563eb;
  text-align: center;
}

/* Responsive */
@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
}
